---
layout: default
lang: el
title: YogaMarga | Μαθήματα
---

<div class="panel callout radius">
    <h3>{{ site.t[page.lang].CLASSES }} <small></small></h3>
</div>

<div class="row" data-equalizer>
    <!-- Classes -->
    <div class="medium-9 columns" data-equalizer-watch>
        <!-- YOGA CLASSES-->
        <div class="row">
            {% if page.classes['yoga'] %}
                {% for class in page.classes['yoga'] %}
                    <div class="medium-4 columns">
                        <h5 class="subheader"><a href="/pages/classes/{{ class[0] }}">{{ class[1].name }}</a></h5>
                        {% if class[1].image %}
                        <a href="/pages/classes/{{ class[0] }}">
                            <img src="{{ class[1].image.url }}" title="{{ class[1].image.title }}" alt="{{ class[1].image.alt }}" width="150" class="img-rounded" />
                        </a>
                        {% endif %}
                        <p>Μπλα μπλα μπλα .....</p>
                        <hr/>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- SOME OTHER CLASSES-->
        <div class="row">
            {% if page.classes['something_else'] %}
            {% for class in page.classes['something_else'] %}
            <div class="medium-4 columns">
                {% if class[1].image %}
                <a href="/pages/classes/{{ class[0] }}">
                    <img src="{{ class[1].image.url }}" title="{{ class[1].image.title }}" alt="{{ class[1].image.alt }}" width="150" class="img-rounded" />
                </a>
                {% endif %}
                <h4 class="subheader"><a href="/pages/classes/{{ class[0] }}">{{ class[1].name }}</a></h4>
                <p>Μπλα μπλα μπλα .....</p>
                <hr/>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <!-- Side Menu -->
    <div class="medium-3 columns">
        <div class="panel" data-equalizer-watch>
            <ul class="side-nav">
                <li><a href="#">{{ site.t[page.lang].CLASSES }}</a></li>
                <li><a href="#">{{ site.t[page.lang].SCHEDULE }}</a></li>
                <li><a href="#">{{ site.t[page.lang].PRICING }}</a></li>
            </ul>
        </div>
    </div>
</div>

