---
layout: default
---

<div class="row">
    <div class="small-12 columns">
        <div class="panel callout radius">
            <h3>{{ page.name }} <small></small></h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {% if page.image %}
        <div id="profile-photo">
            <img src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" width="200" height="200" class="img-rounded"/>
        </div>
        {% endif %}

        <hr/>

        {{ page.bio }}

        <ul>
            {% if page.linkedin %}
            <li><a href="http://www.linkedin.com/in/{{ page.linkedin }}">Connect on LinkedIn</a></li>
            {% endif %}

            {% if page.twitter %}
            <li><a href="http://twitter.com/{{ page.twitter }}">Follow on Twitter</a></li>
            {% endif %}

            {% if page.github %}
            <li><a href="http://github.com/{{ page.github }}">Follow on GitHub</a></li>
            {% endif %}
        </ul>
    </div>
</div>
