<div>
    VIEW Invoice
</div>

<!--
<div class="container">
<div class="row">
<div class="col-md-2">

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>

        </div>
        <div class="col-md-10">

            <ul class="phones">
                <li ng-repeat="sced in sceds.results | filter:query | orderBy:orderProp"
                    class="thumbnail phone-listing">
                    <span>{{sced.customerName}}</span>
                    <a href="#/sceds/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
                    <a href="#/sceds/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>
-->
