
@import "../../vendor/foundation/scss/normalize.scss";
@import "_functions.scss";
@import "_settings.scss";
@import "../../vendor/foundation/scss/foundation.scss";
@import "_css3-mixins.scss";


h1,h2,h3,h4,h5 {font-family:'Open Sans Condensed',sans-serif; font-weight: normal; color: #333; margin: 20px 0}



h2{
  margin-top: 40px;
  font-weight: 200;
  color: #333;
}


.centered-text {
  text-align: center;
}

.quote {
  background: #ebf3f5;
  padding: 15px 20px 5px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  &:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 18px 0 18px;
    border-color: #ebf3f5 transparent transparent transparent;
    position: relative;
    top: 37px;
    left: 20px;
  }
}

.student {
  margin-left: 25px;
  margin-bottom: 80px;
  .photo{
    background-color: #ccc;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }
  p{
    position: relative;
    top: 5px;
    text-transform: uppercase;
    &:nth-child(2) {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
    }
    &:nth-child(3) {
      font-size: 14px;
      color: #777;
    }
  }
}


.top-bar {
    @include background-gradient(#333333, #555555);
}




// Call Mixins
// @include opacity();
// @include border-radius(3px);
// @include transition(color, .5s, ease-in);


